<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"						
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!-- xmlns:layout: layout의 틀임을 알려줌 -->
	
	<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
    <script th:inline="css" type="text/css" th:src="@{/static/css/bootstrap.min.css}"></script>
    <script th:inline="css" type="text/css" th:src="@{/static/css/style.css}"></script>
<!--     <script th:inline="scss" type="text/scss" th:src="@{/static/scss/*.scss}"></script> -->
<!--     <script th:inline="scss" type="text/scss" th:src="@{/static/scss/bootstrap/scss/**/*.scss}"></script> -->
<!--     <script th:inline="scss" type="text/scss" th:src="@{/static/scss/bootstrap/scss/*.scss}"></script> -->
	
	<!-- [head] 영역 시작 -->
	<head th:replace="common/fragments/head :: headFragment">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">공통 타이틀</title>
	</head>
	<!-- [head] 영역 끝 -->
	
	<body>
		<!-- [header] 영역 시작 -->
		<header th:replace="common/fragments/header :: headerFragment"></header>
		<!-- [header] 영역 끝 -->
		
		<!-- [content] 영역 시작 -->
		<th:block layout:fragment="content"></th:block>
		<!-- [content] 영역 끝 -->
		
		<!-- [footer] 영역 시작 -->
		<footer th:replace="common/fragments/footer :: footerFragment"></footer>
		<!-- [footer] 영역 끝 -->
		
	<!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/easing/easing.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/waypoints/waypoints.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/lightbox/js/lightbox.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Template Javascript -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/static/js/main.js}"></script>
	</body>
</html>